html, body, .container-fluid {
  height: 100%;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/OpenSans-Regular.ttf');
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Top Nav  ------------------------------ */
.navbar-brand {
  float: none;
  font-size: 30px;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}

.navbar-default {
  border-radius: 0;
  border-bottom: 3px solid #3B73AF; 
  background: none;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000000;
  width: 250px;
  z-index: 1000;
}

/* End Top Nav --------------------------- */

/* Login Related Style ---------------------------------------------------- */

#loginRow {
  /* Center the content vertically on the login page */
  min-height: 50%;
  min-height: 50vh; 
  display: flex;
  align-items: center;
}

#loginWell {
  border: none; /* Get rid of white edge from bootstrap */
  border-radius: 8px;
  background: rgba(255,254,254,0.50);
  text-align: center;
}

#loginForm {
  display: inline-block;
  width: 50%;
}

#loginForm div {
  padding-bottom: 5px;
}

#loginForm .input-group {
  width: 100%; /* Fix for button size */
}

#loginContainer {
  background-image: -o-linear-gradient(46deg, #3B73AF 7%, #E4E9EE 100%);
  background-image: -moz-linear-gradient(46deg, #3B73AF 7%, #E4E9EE 100%);
  background-image: -ms-linear-gradient(46deg, #3B73AF 7%, #E4E9EE 100%);
  background-image: linear-gradient(46deg, #3B73AF 7%, #E4E9EE 100%);
}

/* End login style ------------------------------------------------------------- */

/* Generic styles */

.mainContent {
  padding-left: 20px; 
  padding-right: 20px;
}

/* -----------------------*/

/* Tile Styles -------------------- */
.tile {
  height: 200px;
  margin-bottom: 15px;
}

.tileWell {
  height: 100%;
  background: rgba(215,215,215,0.20);
  border: 1px solid #979797;
}

.tileWell:hover {
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid #3B73AF;
}

.tileDetails {
  position: absolute;
  bottom: 8px;
}

/* Add Wall Tile */
.addWallTile {
  text-align: center;
  font-size: 32px;
  line-height: 200px;
  vertical-align: middle;
  padding: 0;
}

.addWallTile:hover {
  color: #35CF30;
}

/* Modal Related ------------------------ */
.modal-header, .modal-footer {
  text-align: center;
  border: none;
}


.modal-backdrop {
  /* Modal BG: */
  background: rgba(151,151,151,0.50);
}

body.modal-open .container-fluid {
    -webkit-transition: 0.3s -webkit-filter ease-out;
     -moz-transition: 0.3s -moz-filter ease-out;
       -o-transition: 0.3s -o-filter ease-out;
          transition: 0.3s -webkit-filter ease-out;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.modal.in .modal-dialog {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modalButton {
  width: 30%;
}

/* End Modal Related ----------------------------- */

/* Wall Related ----------------------------- */

.wallRow {
  white-space: nowrap;
  margin-right: 0;
  margin-left: 0;
  overflow-y: scroll; 
  height: calc(100% - 37px);
}


.wallRow .wallLane {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-left: 15px;
  max-height: calc(100% - 18px);
  overflow-y: scroll;
  padding: 5px;

  /* Container: */
  background: #F1F1F1;
  border: 1px solid #979797;
}

.wallLaneWrapper {
  display: inline-block;
  float: none;
  overflow-x: visible;
  height: 100%;
}

.laneOptionsBtn {
  position: absolute;
  top: 5px;
  right: 0;
  border: none;
  background: none;
}

.laneOptionsBtn:hover {
  background: none;
}

.wallLaneHeader {
  position: absolute;
  width: calc(100% - 29px);
  left: 30px;
  top: 0;
  background: #F1F1F1;
  border: 1px solid #979797;
  box-shadow: 0 4px 2px -2px #979797;
  border-bottom: none;
  cursor: pointer;
}

.wallLaneContent {
  margin-top: 39px;
}

.wallRow .inputLane {
  background: none;
  border: none;
}

.wallLaneContent ul {
  list-style-type: none;
  padding-left: 0;
}

.wallLaneContent ul li {
  /* Style of a card */
  background: #FFFFFF;
  border: 1px solid #979797;
  margin-bottom: 5px;
  padding: 5px;
  overflow: hidden;
}

.card {
  cursor: pointer;
}

.wallLaneContent ul li.cardInput{
  /* Style of a card */
  background: none;
  border: none;
}

.wallLaneContent ul li.cardPlaceholder, .lanePlaceholder{
  /* Style of a card */
  box-shadow: 0 0 15px rgba(0, 0, 0, .5) inset;
  background: none;
  border: none;
}

.wallMainContent {
  height: calc(100% - 74px); 
  padding-right: 0;
  padding-left: 0;
}

/* Wall scroll bar */
.wallRow::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

.wallRow::-webkit-scrollbar-button {
  display: block;
  width: 5px;
  height: 5px;
}

.wallRow::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 5px 0 0 5px
}

.wallRow::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 5px 5px 0
}

.wallRow::-webkit-scrollbar-thumb:horizontal, .wallRow::-webkit-scrollbar-thumb:vertical {
    background: #979797;
    border-radius: 5px;
    display: block;
    height: 50px
}

.saveLane, .saveCard {
  background: #D8D8D8;
  padding: 5px;
}

#newLaneInput, .cardInput {
  border-radius: 0;
  background: #F1F1F1;
  border: 1px solid #979797;
  color: #000000;
}

#newLaneInput:focus, #newLaneInput:hover, .cardInput:focus {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
}



/* End wall related ------------------------------ */

