html, body, .container-fluid {
  height: 100%;
}

@font-face {
  font-family: "Open Sans";
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  word-wrap: break-word;
}


.mainContent {
  padding-left: 20px; 
  padding-right: 20px;
}

/* Modal Related ------------------------ */
.modal-header, .modal-footer {
  text-align: center;
  border: none;
}


.modal-backdrop {
  /* Modal BG: */
  background: rgba(151,151,151,0.50);
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.modal.in .modal-dialog {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modalButton {
  width: 30%;
}

.modal-body .largeDescription {
  font-size: 18px; 
  color: #5F5959;
}

.modal-body .modalSection {
  padding-top: 5px;
}

.disabledButton {
  background: #83878C;
  color: #000000;
}

.disabledButton:hover {
  background: #83878C;
  color: #000000;
}

.iconButton {
  border: none;
}

/* End Modal Related ----------------------------------- */

/* Snackbar styles */

.snackbar.snackbarSuccess {
  background-color: #35CF30;
}

.snackbar.snackbarDanger {
  background-color: #EC1D1D;
}



