<top-nav></top-nav>

<div class="mainContent wallMainContent">
	<h3 class="text-center">{{wall.title}}</h3>

	<div class="row wallRow">

                <lane ng-repeat="lane in wall.lanes" lane="lane"/>

		<div class="col-md-3 wallLane inputLane">
                	<input 
                		type="text" 
                		class="form-control"
                		id="newLaneInput" 
                		placeholder="Add a new lane" 
                		ng-model="newLaneName" 
                		ng-keyup="$event.keyCode == 13 && addNewLane()"
                		ng-focus="showSaveLane = true"
                		ng-blur="showSaveLane = false"
                	>
                	<div ng-show="showSaveLane" class="saveLane">
                		<button type="button" class="btn btn-default buttonAccept" ng-click="addNewLane()">Add</button>
                	</div>
		</div>

	</div>

</div>